.home{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    color: #fff;
}
.homeContainer{
    position: relative;
}
.coverImage{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100vh;
    z-index: -2;
}
.coverImage img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.homeContainer .content{
    padding: 100px;
}
.homeContainer h1{
    margin-top: 80px;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 800;
    background-image: url('../../../images/texure.jpg');
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing:antialiased;
}
.coverImage::after{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    z-index: 88;
    background-image: linear-gradient(to right bottom ,rgba(0,0,0,0.7),rgba(0,0,0,0.6),rgba(0,0,0,0.5),rgba(0,0,0,0.4),rgba(0,0,0,0.0));
}
.playButton img{
    width: 90px;
    height: 90px;
    margin-right: 20px;
    transition: 0.5s;
}
.playButton:hover .change{
    opacity: 1;
}
.margin{
    margin-top: 50%;
}
.row{
    width: 50%;
}
p{
    line-height: 30px;
}
.control-btn button{
    width: 50px;
    border: 2px solid rgba(255,255,255,0.3);
    height: 50px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
}
.control-btn .next{
    position: absolute;
    top: 50%;
    right: 2%;
}
.control-btn .prev{
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 99;
}